<div class="searchBar">
  <div class="container">
    <form action="/search" method="POST" class="search__form" role="search">
      <input
        type="search"
        aria-label="Search"
        id="searchInput"
        name="searchTerm"
        placeholder="Search post..."
      />
    </form>
    <div id="searchClose"><img src="./images/x-mark.png" alt="close search bar icon"></div>
  </div>
</div>
