<h3>Connect with me through my social media:</h3>
<div class="socmed-container">
  <a href="https://github.com/andika350" target="_blank"
    ><img src="/images/github-icon.png" alt="github icon" />Github</a
  >
  <a href="https://www.instagram.com/andikastp/" target="_blank"
    ><img src="/images/insta-icon.png" alt="instagram icon" />Instagram</a
  >
  <a href="https://www.linkedin.com/in/andika-satrio-477570183/" target="_blank"
    ><img src="/images/linked-icon.png" alt="linkedin icon" />Linkedin</a
  >
</div>
